DB_HOST = localhost
DB_PORT = port
DB_PASSWORD=password
DB_USER=user
DB_NAME=name
DB_URL = db_url


JWT_SECRET = my_secret
JWT_EXPIRATION_MINUTES = 30
REFRESH_EXPIRATION_DAYS = 7

#oauth
GOTH_AUTH_SECRET = my_secret
OAUTH_AGE_DAYS = 30

GITHUB_CLIENT_ID = get_this_on_github
GITHUB_CLIENT_SECRET =get_this_on_github
GITHUB_CALLBACK_URL = http://localhost:8080/auth/github/callback
IS_PROD = false
OAUTH_SUCCESS_REDIRECT_TO=http://localhost:8080